@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  display: flex;
  background-color: green;
}

.user-container {
  width: 70%;
  margin-left: 20px;
  margin-right: 5px;
  border-right: 1px solid lightgray;

  color: pink;
}
